# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE stuff
.idea/

# saenopy temp folder
._py2/
CompactionAnalyzer/tmpznohltsf
Tutorial/ArtificialData_output/Cell0/results_angles.xlsx
Tutorial/ArtificialData_output/Cell0/results_distance.xlsx
Tutorial/ArtificialData_output/Cell0/results_total.xlsx
Tutorial/ArtificialData_output/Cell1/results_angles.xlsx
Tutorial/ArtificialData_output/Cell1/results_distance.xlsx
Tutorial/ArtificialData_output/Cell1/results_total.xlsx
Tutorial/ArtificialData_output/Cell2/results_angles.xlsx
Tutorial/ArtificialData_output/Cell2/results_distance.xlsx
Tutorial/ArtificialData_output/Cell2/results_total.xlsx
Tutorial/ArtificialData_output/Cell3/results_angles.xlsx
Tutorial/ArtificialData_output/Cell3/results_distance.xlsx
Tutorial/ArtificialData_output/Cell3/results_total.xlsx
Tutorial/ArtificialData_output/Cell4/results_angles.xlsx
Tutorial/ArtificialData_output/Cell4/results_distance.xlsx
Tutorial/ArtificialData_output/Cell4/results_total.xlsx
Tutorial/ArtificialData_output/Cell5/results_angles.xlsx
Tutorial/ArtificialData_output/Cell5/results_distance.xlsx
Tutorial/ArtificialData_output/Cell5/results_total.xlsx
Tutorial/ArtificialData_output/Cell6/results_angles.xlsx
Tutorial/ArtificialData_output/Cell6/results_distance.xlsx
Tutorial/ArtificialData_output/Cell6/results_total.xlsx
Tutorial/ArtificialData_output/Cell7/results_angles.xlsx
Tutorial/ArtificialData_output/Cell7/results_distance.xlsx
Tutorial/ArtificialData_output/Cell7/results_total.xlsx
Tutorial/ArtificialData_output/Cell8/results_angles.xlsx
Tutorial/ArtificialData_output/Cell8/results_distance.xlsx
Tutorial/ArtificialData_output/Cell8/results_total.xlsx
Tutorial/ArtificialData_output/Cell9/results_angles.xlsx
Tutorial/ArtificialData_output/Cell9/results_distance.xlsx
Tutorial/ArtificialData_output/Cell9/results_total.xlsx
Tutorial/ArtificialData_output/Combine_Set1/Angle_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Intensity_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Intensity_Norm_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Orientation_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/results_distance_combined.xlsx
Tutorial/ArtificialData_output/Combine_Set1/results_total_combined.xlsx
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Angle_deviation.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Angle_deviation_weighted.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/cell-raw.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/coherency_noquiver.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/fiber_segemention.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Intensity_distance.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation_distance.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation_polar.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation_weighted.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation_weighted_noquiver.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Orientation_weighted_polar.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/overlay.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/overlay2.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/polar_coherency_double.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/polar_coherency_weighted.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/polar_intensity.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/quiv_coherency_center.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/shells.png
Tutorial/ExampleCells_output/Cell_1/C004/Figures/Triple_plot.png
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Angle Map.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Coherency Map.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Fiber Image Crop.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/mask_spherical_shells.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/mask_surface_shells.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Orientation Map.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/segmention.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Vector_min_ax0.npy
Tutorial/ExampleCells_output/Cell_1/C004/NumpyArrays/Vector_min_ax1.npy
Tutorial/ExampleCells_output/Cell_1/C004/results_angles.xlsx
Tutorial/ExampleCells_output/Cell_1/C004/results_distance.xlsx
Tutorial/ExampleCells_output/Cell_1/C004/results_total.xlsx
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Angle_deviation.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Angle_deviation_weighted.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/cell-raw.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/coherency_noquiver.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/fiber_segemention.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Intensity_distance.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation_distance.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation_polar.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation_weighted.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation_weighted_noquiver.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Orientation_weighted_polar.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/overlay.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/overlay2.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/polar_coherency_double.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/polar_coherency_weighted.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/polar_intensity.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/quiv_coherency_center.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/shells.png
Tutorial/ExampleCells_output/Cell_2/C004/Figures/Triple_plot.png
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Angle Map.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Coherency Map.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Fiber Image Crop.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/mask_spherical_shells.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/mask_surface_shells.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Orientation Map.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/segmention.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Vector_min_ax0.npy
Tutorial/ExampleCells_output/Cell_2/C004/NumpyArrays/Vector_min_ax1.npy
Tutorial/ExampleCells_output/Cell_2/C004/results_angles.xlsx
Tutorial/ExampleCells_output/Cell_2/C004/results_distance.xlsx
Tutorial/ExampleCells_output/Cell_2/C004/results_total.xlsx
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Angle_deviation.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Angle_deviation_weighted.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/cell-raw.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/coherency_noquiver.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/fiber_segemention.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Intensity_distance.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation_distance.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation_polar.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation_weighted.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation_weighted_noquiver.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Orientation_weighted_polar.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/overlay.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/overlay2.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/polar_coherency_double.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/polar_coherency_weighted.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/polar_intensity.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/quiv_coherency_center.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/shells.png
Tutorial/ExampleCells_output/Cell_3/C004/Figures/Triple_plot.png
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Angle Map.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Coherency Map.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Fiber Image Crop.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/mask_spherical_shells.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/mask_surface_shells.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Orientation Map.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/segmention.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Vector_min_ax0.npy
Tutorial/ExampleCells_output/Cell_3/C004/NumpyArrays/Vector_min_ax1.npy
Tutorial/ExampleCells_output/Cell_3/C004/results_angles.xlsx
Tutorial/ExampleCells_output/Cell_3/C004/results_distance.xlsx
Tutorial/ExampleCells_output/Cell_3/C004/results_total.xlsx
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Angle_deviation.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Angle_deviation_weighted.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/cell-raw.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/coherency_noquiver.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/fiber_segemention.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Intensity_distance.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation_distance.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation_polar.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation_weighted.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation_weighted_noquiver.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Orientation_weighted_polar.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/overlay.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/overlay2.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/polar_coherency_double.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/polar_coherency_weighted.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/polar_intensity.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/quiv_coherency_center.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/shells.png
Tutorial/ExampleCells_output/Cell_4/C004/Figures/Triple_plot.png
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Angle Map.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Coherency Map.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Fiber Image Crop.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/mask_spherical_shells.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/mask_surface_shells.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Orientation Map.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/segmention.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Vector_min_ax0.npy
Tutorial/ExampleCells_output/Cell_4/C004/NumpyArrays/Vector_min_ax1.npy
Tutorial/ExampleCells_output/Cell_4/C004/results_angles.xlsx
Tutorial/ExampleCells_output/Cell_4/C004/results_distance.xlsx
Tutorial/ExampleCells_output/Cell_4/C004/results_total.xlsx
Tutorial/ExampleCells_output/Combine_Set1/Angle_allcells.png
Tutorial/ExampleCells_output/Combine_Set1/Dist_Intensity_allcells.png
Tutorial/ExampleCells_output/Combine_Set1/Dist_Intensity_Norm_allcells.png
Tutorial/ExampleCells_output/Combine_Set1/Dist_Orientation_allcells.png
Tutorial/ExampleCells_output/Combine_Set1/results_distance_combined.xlsx
Tutorial/ExampleCells_output/Combine_Set1/results_total_combined.xlsx
Tutorial/EmptyGel_output/Combine_Set1/results_total_combined.xlsx
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Angle_deviation.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Angle_deviation_weighted.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/cell-raw.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/coherency_noquiver.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/fiber_segemention.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Intensity_distance.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation_distance.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation_polar.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation_weighted.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation_weighted_noquiver.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Orientation_weighted_polar.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/overlay.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/overlay2.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/polar_coherency_double.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/polar_coherency_weighted.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/polar_intensity.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/quiv_coherency_center.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/shells.png
Tutorial/EmptyGel_output/Pos01/Cell/Figures/Triple_plot.png
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Angle Map.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Coherency Map.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Fiber Image Crop.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/mask_spherical_shells.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/mask_surface_shells.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Orientation Map.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/segmention.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Vector_min_ax0.npy
Tutorial/EmptyGel_output/Pos01/Cell/NumpyArrays/Vector_min_ax1.npy
Tutorial/EmptyGel_output/Pos01/Cell/results_angles.xlsx
Tutorial/EmptyGel_output/Pos01/Cell/results_distance.xlsx
Tutorial/EmptyGel_output/Pos01/Cell/results_total.xlsx
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Angle_deviation.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Angle_deviation_weighted.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/cell-raw.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/coherency_noquiver.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/fiber_segemention.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Intensity_distance.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation_distance.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation_polar.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation_weighted.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation_weighted_noquiver.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Orientation_weighted_polar.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/overlay.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/overlay2.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/polar_coherency_double.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/polar_coherency_weighted.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/polar_intensity.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/quiv_coherency_center.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/shells.png
Tutorial/EmptyGel_output/Pos02/Cell/Figures/Triple_plot.png
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Angle Map (weighted by intensity and coherency).npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Angle Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Angle Map.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Coherency Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Coherency Map.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Fiber Image Crop.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/mask_spherical_shells.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/mask_surface_shells.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Orientation Map (weighted by intensity and coherency).npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Orientation Map (weighted by intensity).npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Orientation Map.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/segmention.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Vector_min_ax0.npy
Tutorial/EmptyGel_output/Pos02/Cell/NumpyArrays/Vector_min_ax1.npy
Tutorial/EmptyGel_output/Pos02/Cell/results_angles.xlsx
Tutorial/EmptyGel_output/Pos02/Cell/results_distance.xlsx
Tutorial/EmptyGel_output/Pos02/Cell/results_total.xlsx
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Angle_deviation.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Angle_deviation_weighted.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/cell-raw.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/coherency_noquiver.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/fiber_segemention.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Intensity_distance.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation_distance.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation_polar.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation_weighted.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation_weighted_noquiver.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Orientation_weighted_polar.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/overlay.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/overlay2.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/polar_coherency_double.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/polar_coherency_weighted.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/polar_intensity.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/quiv_coherency_center.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/shells.png
Tutorial/EmptyGel_output/Pos03/Cell/Figures/Triple_plot.png
Tutorial/EmptyGel_output/Pos03/Cell/results_angles.xlsx
Tutorial/EmptyGel_output/Pos03/Cell/results_distance.xlsx
Tutorial/EmptyGel_output/Pos03/Cell/results_total.xlsx
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Angle_deviation.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Angle_deviation_weighted.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/cell-raw.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/coherency_noquiver.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/fiber_segemention.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Intensity_distance.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation_distance.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation_polar.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation_weighted.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation_weighted_noquiver.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Orientation_weighted_polar.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/overlay.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/overlay2.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/polar_coherency_double.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/polar_coherency_weighted.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/polar_intensity.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/quiv_coherency_center.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/shells.png
Tutorial/EmptyGel_output/Pos04/Cell/Figures/Triple_plot.png
Tutorial/EmptyGel_output/Pos04/Cell/results_angles.xlsx
Tutorial/EmptyGel_output/Pos04/Cell/results_distance.xlsx
Tutorial/EmptyGel_output/Pos04/Cell/results_total.xlsx
