# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IDE stuff
.idea/

# saenopy temp folder
._py2/
CompactionAnalyzer/tmpznohltsf
Tutorial/ArtificialData_output/Cell0/results_angles.xlsx
Tutorial/ArtificialData_output/Cell0/results_distance.xlsx
Tutorial/ArtificialData_output/Cell0/results_total.xlsx
Tutorial/ArtificialData_output/Cell1/results_angles.xlsx
Tutorial/ArtificialData_output/Cell1/results_distance.xlsx
Tutorial/ArtificialData_output/Cell1/results_total.xlsx
Tutorial/ArtificialData_output/Cell2/results_angles.xlsx
Tutorial/ArtificialData_output/Cell2/results_distance.xlsx
Tutorial/ArtificialData_output/Cell2/results_total.xlsx
Tutorial/ArtificialData_output/Cell3/results_angles.xlsx
Tutorial/ArtificialData_output/Cell3/results_distance.xlsx
Tutorial/ArtificialData_output/Cell3/results_total.xlsx
Tutorial/ArtificialData_output/Cell4/results_angles.xlsx
Tutorial/ArtificialData_output/Cell4/results_distance.xlsx
Tutorial/ArtificialData_output/Cell4/results_total.xlsx
Tutorial/ArtificialData_output/Cell5/results_angles.xlsx
Tutorial/ArtificialData_output/Cell5/results_distance.xlsx
Tutorial/ArtificialData_output/Cell5/results_total.xlsx
Tutorial/ArtificialData_output/Cell6/results_angles.xlsx
Tutorial/ArtificialData_output/Cell6/results_distance.xlsx
Tutorial/ArtificialData_output/Cell6/results_total.xlsx
Tutorial/ArtificialData_output/Cell7/results_angles.xlsx
Tutorial/ArtificialData_output/Cell7/results_distance.xlsx
Tutorial/ArtificialData_output/Cell7/results_total.xlsx
Tutorial/ArtificialData_output/Cell8/results_angles.xlsx
Tutorial/ArtificialData_output/Cell8/results_distance.xlsx
Tutorial/ArtificialData_output/Cell8/results_total.xlsx
Tutorial/ArtificialData_output/Cell9/results_angles.xlsx
Tutorial/ArtificialData_output/Cell9/results_distance.xlsx
Tutorial/ArtificialData_output/Cell9/results_total.xlsx
Tutorial/ArtificialData_output/Combine_Set1/Angle_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Intensity_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Intensity_Norm_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/Dist_Orientation_allcells.png
Tutorial/ArtificialData_output/Combine_Set1/results_distance_combined.xlsx
Tutorial/ArtificialData_output/Combine_Set1/results_total_combined.xlsx
